@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

/* Common styles */
.display-flex {
  display: flex;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
}
.section-margin-top {
  margin-top: 50px;
}
.text-primary {
  color: rgba(58, 58, 58, 1);
}
.primary-btn {
  border-radius: 41px;
  background: rgba(224, 44, 109, 1);

  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
}

/* Nav styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar .brand-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-items {
  gap: 34px;
}

.nav-item {
  font-weight: 600;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  font-size: 1rem;
  color: rgba(58, 58, 58, 1);
}

/* banner styles */
.banner {
  justify-content: space-between;
  align-items: center;
}
.banner-heading {
  font-weight: 700;
  font-size: 3.25rem;
  margin: 0;
}
.banner-description {
  font-weight: 600;
  font-size: 1rem;
}
.banner-image {
  position: relative;
}
.primary-btn i {
  margin-left: 8px;
}

.circle {
  position: absolute;
  right: -20px;
  top: -30px;
  z-index: -1;
}

/**Responsive media Query */

@media screen and (max-width: 570px) {
  br {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
  .nav-items {
    flex-wrap: wrap;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .banner-info {
    text-align: center;
  }
  .banner-heading {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 571px) and (max-width: 990px) {
  .nav-items {
    flex-wrap: wrap;
    gap: 20px;
  }

  .banner-heading {
    width: 50%;
  }
  .banner-image img {
    width: 100%;
  }
  .banner-heading {
    font-size: 1.5rem;
    width: 300px;
  }
  .banner-description {
    width: 400px;
  }
}
